# Node modules
node_modules/

# Build output
build/
dist/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS or editor specific
.DS_Store
.vscode/
.idea/

# Package files (optional to ignore)
package.json
package-lock.json
yarn.lock
